# Wireless networks
[Match]
Name=wl*

[Network]
MulticastDNS=resolve
LLMNR=resolve
DHCP=yes
DNSDefaultRoute=true
IgnoreCarrierLoss=true

[DHCP]
RouteMetric=20
